@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *), .dark);

@layer base {
  *, ::after, ::before, ::backdrop, ::file-selector-button {
    border-color: var(--color-zinc-200, currentColor);
  }
  .dark, .dark *, .dark ::after, .dark ::before, .dark ::backdrop, .dark ::file-selector-button {
    border-color: var(--color-zinc-800, currentColor);
  }
  
  html, body {
    overflow-x: hidden;
    max-width: 100vw;
  }
}

